<h1>Chef <%= @chef.chefname %>'s Profile</h1>

<div class="row justify-content-center">
  <%= will_paginate(@chef_recipes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
<%= render 'chef_recipes/recipe', obj: @chef_recipes %>
<div class="row justify-content-center">
  <%= will_paginate(@chef_recipes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
<%= link_to "New recipe", new_chef_recipe_path, class: "btn btn-primary" %>
<%= link_to "Back to Chef List", chef_profiles_path, class: "btn btn-primary" %>
