<h1>Chef <%= @chef.chefname %>'s Profile</h1>

<div class="row justify-content-center">
  <%= will_paginate(@chef_recipes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
<%= render 'chef_recipes/recipe', obj: @chef_recipes %>
<div class="row justify-content-center">
  <%= will_paginate(@chef_recipes, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>
<% if logged_in? && current_chef_profile == @chef %>
<%= link_to "Edit Profile", edit_chef_profile_path(current_chef_profile), class: "btn btn-primary" %>
<%= link_to "New recipe", new_chef_recipe_path, class: "btn btn-primary" %>
<% end %>
<%= link_to "Back to Chef List", chef_profiles_path, class: "btn btn-primary" %>
