<h1>Edit Recipe</h1>
<% if @recipe.errors.any? %>
  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-danger">
        <p class="alert-body">
          <strong><%= pluralize(@recipe.errors.count, "error") %> prohibited this <%= @recipe.class %> from being created:</strong>
        </p>
        <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class="row justify-content-center">
  <div class="col-md-8">
    <%= form_for(@recipe, :html => {class: "form", role: "form"}) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of recipe" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary btn-lg" %>
        <%= link_to "Cancel and go back to recipe list", chef_recipes_path %>
      </div>
    <% end %>
  </div>
</div>
